<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

    </head>

    <body>
        <p>
            <h4>Hello {{.Name}}</h4>,
            Your account registration with Ivmanto accounts was successful
            and needs to be activated by clicking the link below.
            <a href="{{.URL}}">Activate your Ivmanto account</a>
        </p>
        <p>
            If you have not initiated this registration simply ignore this message.
        </p>
        
    </body>

</html>
