{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Ivmanto</title>
        <link rel='stylesheet' href='/static/css/oauth-main.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
    </head>
    <body>
        <logo><p>.</p></logo>
        <main>
            {{with .Flash}}
                <div class='flash'><p>{{.}}</p></div>
            {{end}}
            {{template "main" .}}
        </main>
        {{template "footer" .}}
        <script src="/static/js/oauth-main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}
