{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>{{template "title" .}}</title>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
    </header>
    <main>
      {{template "lgform" .}}
    </main>

  </body>
</html>
{{end}}
