{{template "base" .}}

{{define "title"}}Eror{{end}}

{{define "main"}}
    <body>
        <main>
            <h3>{{.ErrorTitle}}</h3>
            <br>
            <p>
                {{.ErrorMessage}}
            </p>
            <br>
            <p>
                <a href=http://ivmanto.dev><strong>Go Back</strong></a>
            </p>
        </main>
    </body>
{{end}}
