{{define "footer"}}
    <div class="below-line">
        <p><a href=/oauth/ui/login>Login</a> | <a href=/oauth/recover>Reset password</a> | <a href=/oauth/ui/register>New Account</a></p>
    </div>
    <footer><h3><p> &copy; {{.CurrentYear}}, IVM<strong>ANTO</strong> [v{{.Version}}]</p></h3></footer>
{{end}}
