{{template "base" .}}

{{define "title"}}Accounts{{end}}

{{define "main"}}
    <body>
        <main>
            <h3>Check your inbox</h3>
            <br>
            <p>
                Your account needs to be activated. We have sent an email message <br>
                to the email address you have used for this registration. <br><br>
                Please follow the instructions in it to complete your regstration process.<br>
                You can close this window now!
            </p>
        </main>
    </body>
{{end}}
