<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/static/css/oauth-main.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
    </head>
    <body>
        <main>
            <p>
                Your account needs to be activated. We have sent an email message <br>
                to the email address you have used for this registration. <br>
                Please follow the instructions in it to complete your regstration process.<br>
                You can close this window now!
            </p>
        </main>
    </body>
</html>
