{{template "base" .}}

{{define "title"}}Logout{{end}}

{{define "main"}}
    <div class="login-container">  
        <section class="login" id="login">
            <header>
                <h2>Logout</h2>
                <h4>current logged</h4>
            </header>
            <form class="login-form" action='/oauth/logout' method='POST'>
                {{with .Form}}
                    <div><p>{{.User.Email}}</p></div>
                    <div class="submit-container">
                        <button id="e1" type="submit" class="login-button">Logout</button>
                    </div>
                {{end}}
            </form>
        </section>
    </div>

    <button id="e1" hidden>Login error!</button>

{{end}}
