{{template "base" .}}

{{define "title"}}Accounts{{end}}

{{define "main"}}
    <body>
        <main class=msg>
            <h3>{{.MsgTitle}}</h3>
            <br>
            <p>
                {{.Message}}
            </p>
            <br>
            <p>
                <a href={{.URL}}>{{.UrlLable}}</a>
            </p>
        </main>
    </body>
{{end}}
